body {
background-color: #5a5959;

}

#login {
    background-color: #778D45;
}

#login:hover {
    color: rgb(51, 47, 47);
}

a {
    background-color: #AEC09A;
}

#registration:hover {
    color: rgb(51, 47, 47);
}

.btn {
    border-radius: 10px;
    color:rgb(230, 230, 125);
    border: none;
    padding: 60px;
    font-size: 50px;
    margin: 30px 50px;
    cursor: pointer;
}

.blue:hover {
    cursor: pointer;
}

